.footer
{
    background-color: #333;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: #eee;

    @include respond(tab_port)
    {
        padding: 8rem 0;
    }

    &__logobox
    {
        text-align: center;
        margin-bottom: 8rem;

        @include respond(tab_port)
        {
            margin-bottom: 4rem;
        }
    }

    &__logo
    {
        width: 15rem;
        height: auto;
    }

    &__navigation
    {
        border-top: 1px solid #999;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab_port)
        {
            width: 100%;
            text-align: center;
        }
    }

    &__list
    {
        list-style: none;
    }

    &__item
    {
        display: inline-block;

        &:not(:last-child)
        {
            margin-right: 1rem;
        }
    }

    &__link
    {
        transition: all 0.2s;
        color: #eee;

        &:link, &:visited
        {
            text-transform: uppercase;
            text-decoration: none;
            display: inline-block;
        }

        &:hover, &:active
        {
            color: $color-primary;
            text-shadow: 0 1rem 2rem rgba($color-black, 0.4);
            transform: rotate(5deg) scale(1.1);
        }
    }

    &__copyright
    {
        border-top: 1px solid #999;
        padding-top: 2rem;
        display: inline-block;

        @include respond(tab_port)
        {
            width: 100%;
            text-align: center;
            float: none;
        }
    }
}
