@mixin clearfix
{
    &::after
    {
        content: '';
        clear: both;
        display: table;
    }
}

@mixin btn_style
{
    font-size: 1.4rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    transition: all 0.2s;
    position: relative;
    transform: rotate(0);
    backface-visibility: hidden;

    border: none;
    cursor: pointer;
}

@mixin respond($breakpoint)
{
    @if $breakpoint == 'tab_land'
    {
        @media only screen and (max-width: 75em)
        {
            @content;
        }
    }
    @if $breakpoint == 'tab_potr'
    {
        @media only screen and (max-width: 56.25em)
        {
            @content;
        }
    }
    @if $breakpoint == 'phone'
    {
        @media only screen and (max-width: 37.5em)
        {
            @content;
        }
    }
    @if $breakpoint == 'desktop'
    {
        @media only screen and (min-width: 112.5em)
        {
            @content;
        }
    }
}
