*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

html
{
    font-size: 62.5%;

    @include respond(tab_land)
    {
        font-size: 56.25%;
    }

    @include respond(tab_port)
    {
        font-size: 50%;
    }

    @include respond(desktop)
    {
        font-size: 75%;
    }

    scroll-behavior: smooth;
}

body
{
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab_port)
    {
        padding: 0;
    }
}
