*, *::after, *::before
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-drag: none;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body
{
    padding: 3rem;
}