.section-about
{
    background-color: $color-grey-light;
    padding: 25rem 0;
    margin-top: -25vh;

    @include respond(tab_port)
    {
        padding: 20rem 0;
    }
}

.section-features
{
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)), url("../img/nat-4.jpg");
    background-size: cover;
    transform: skewY(-6deg);
    padding: 20rem 0;
    margin-top: -10rem;

    @include respond(tab_port)
    {
        padding: 10rem 0;
    }

    & > *
    {
        transform: skewY(6deg);
    }
}

.section-tours
{
    background-color: $color-grey-light;
    padding: 25rem 0 15rem 0;
    margin-top: -8rem;

    @include respond(tab_port)
    {
        padding: 20rem 0 10rem 0;
    }
}

.section-stories
{
    padding: 25rem 0 15rem 0;
    position: relative;

    @include respond(tab_port)
    {
        padding: 20rem 0 10rem 0;
    }
}

.section-booking
{
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    padding: 25rem 0 15rem 0;

    @include respond(tab_port)
    {
        padding: 20rem 0 10rem 0;
    }
}

.book
{
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
    background-size: cover;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);

    &__form
    {
        width: 50%;
        padding: 6rem;
    }
}
